<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="COMSEntities" connectionString="metadata=res://*/dbEntity.csdl|res://*/dbEntity.ssdl|res://*/dbEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=COMS;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--E.G Connection string <add name="COMSEntities" connectionString="metadata=res://*/dbEntity.csdl|res://*/dbEntity.ssdl|res://*/dbEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source={YOR DATABASE SERVER IP OR NAME};Initial Catalog=COMS;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
</configuration>