USE [master]
GO
/****** Object:  Database [COMS]    Script Date: 01/20/2012 10:38:37 ******/
CREATE DATABASE [COMS] ON  PRIMARY 
( NAME = N'COMS', FILENAME = N'C:\COMS.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'COMS_log', FILENAME = N'C:\COMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COMS]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 01/20/2012 10:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerid] [uniqueidentifier] NOT NULL,
	[code] [nchar](10) NULL,
	[code_tax] [nvarchar](50) NULL,
	[address] [nvarchar](255) NULL,
	[created_date] [datetime] NULL,
	[created_by] [nvarchar](50) NULL,
	[fax] [nvarchar](50) NULL,
	[fullname] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[status] [nvarchar](10) NULL,
	[telephone] [nvarchar](50) NULL,
	[printer_id] [uniqueidentifier] NOT NULL,
	[updated_date] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customerid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([customerid], [code], [code_tax], [address], [created_date], [created_by], [fax], [fullname], [name], [status], [telephone], [printer_id], [updated_date], [updated_by]) VALUES (N'4a9cde7a-2ca7-42fc-8cd4-2aa004262a2e', N'12        ', N'0301640003', N'Jurong East , Street 41', CAST(0x00009FD80060A499 AS DateTime), N'Ba Tien', N'9692281', N'John Brian', N'NHẤT LỢI', N'ACTIVE', N'39605972-205(HẰNG)', N'00000000-0000-0000-0000-000000000000', CAST(0x00009FD80060A499 AS DateTime), N'Ba Tien')
INSERT [dbo].[Customer] ([customerid], [code], [code_tax], [address], [created_date], [created_by], [fax], [fullname], [name], [status], [telephone], [printer_id], [updated_date], [updated_by]) VALUES (N'f6e14c03-03cb-4123-a178-44b2e24bf631', N'12        ', N'0301640004', N'Bukit Gombak, 650341', CAST(0x00009FD10042CCFF AS DateTime), N'Ba Tien', N'9692281', N'Brian Tan', N'Brian', N'ACTIVE', N'98806576', N'00000000-0000-0000-0000-000000000000', CAST(0x00009FD10042CCFF AS DateTime), N'Ba Tien')
INSERT [dbo].[Customer] ([customerid], [code], [code_tax], [address], [created_date], [created_by], [fax], [fullname], [name], [status], [telephone], [printer_id], [updated_date], [updated_by]) VALUES (N'c8de51b8-c8d7-4d42-90b0-8fe6f477ca8c', N'14        ', N'302329400', N'Marchent Street, China Town', CAST(0x00009FD80060A499 AS DateTime), N'Ba Tien', N'9555479', N'Mark Twain', N'NHỰA TÂN HƯNG', N'ACTIVE', N'8562003-9556827- 0908622282', N'00000000-0000-0000-0000-000000000000', CAST(0x00009FD80060A499 AS DateTime), N'Ba Tien')
/****** Object:  Table [dbo].[AutoID]    Script Date: 01/20/2012 10:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoID](
	[autoid] [bigint] NOT NULL,
	[created_date] [datetime] NOT NULL,
 CONSTRAINT [PK_AutoID] PRIMARY KEY CLUSTERED 
(
	[autoid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AutoID] ([autoid], [created_date]) VALUES (15, CAST(0x00009FD800DB3C2B AS DateTime))
/****** Object:  Table [dbo].[Access_Right]    Script Date: 01/20/2012 10:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Access_Right](
	[rightsId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[module_name] [nvarchar](50) NULL,
	[action] [nvarchar](50) NOT NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_by] [nvarchar](50) NULL,
	[updated_date] [datetime] NULL,
	[isactive] [bit] NOT NULL,
 CONSTRAINT [PK_Access_Right] PRIMARY KEY CLUSTERED 
(
	[rightsId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Access_Right] ([rightsId], [name], [module_name], [action], [created_by], [created_date], [updated_by], [updated_date], [isactive]) VALUES (N'7a1bbf1a-009f-49c5-82d7-068dd3b4c080', N'Employee Management', N'Employee', N'Edit', N'system', CAST(0x00009FCB00E4D194 AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Access_Right] ([rightsId], [name], [module_name], [action], [created_by], [created_date], [updated_by], [updated_date], [isactive]) VALUES (N'fe0c5af8-03fe-4391-95a1-0d793598997a', N'Role Management', N'Role', N'Edit', N'system', CAST(0x00009FCB00E45265 AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Access_Right] ([rightsId], [name], [module_name], [action], [created_by], [created_date], [updated_by], [updated_date], [isactive]) VALUES (N'12e6925d-348f-41c8-8d63-0f43af13aa84', N'Workflow Error', N'Workflow Error', N'Edit', N'system', CAST(0x00009FD7003B3566 AS DateTime), NULL, NULL, 1)
/****** Object:  Table [dbo].[Department]    Script Date: 01/20/2012 10:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[departmentId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_by] [nvarchar](50) NULL,
	[updated_date] [datetime] NULL,
	[isactive] [bit] NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[departmentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department] ([departmentId], [name], [created_by], [created_date], [updated_by], [updated_date], [isactive]) VALUES (N'3ecff3ca-6379-4d9b-b4b3-354f7147fe0c', N'Engraving-Lasering Dept', N'Ba Tien', CAST(0x00009FD100429F50 AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Department] ([departmentId], [name], [created_by], [created_date], [updated_by], [updated_date], [isactive]) VALUES (N'83a044b8-f5fc-49a4-bb75-3a313053adda', N'Production Dept', N'Ba Tien', CAST(0x00009FD100429F50 AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Department] ([departmentId], [name], [created_by], [created_date], [updated_by], [updated_date], [isactive]) VALUES (N'cb609ff0-00b7-4994-94f8-420054eebd7b', N'Sales Dept', N'Ba Tien', CAST(0x00009FD100429F50 AS DateTime), NULL, NULL, 1)
/****** Object:  Table [dbo].[Error]    Script Date: 01/20/2012 10:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error](
	[errorId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Error] PRIMARY KEY CLUSTERED 
(
	[errorId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Error] ([errorId], [name]) VALUES (N'4de09fa0-6d56-4863-8988-5e13876d7103', N'Damage')
INSERT [dbo].[Error] ([errorId], [name]) VALUES (N'882119c3-1281-4562-bb27-74f6932f8c14', N'Wrong specification')
INSERT [dbo].[Error] ([errorId], [name]) VALUES (N'73a84f18-47ba-41a5-b8f0-8b2be42d35b5', N'Previous Step Incomplete')
/****** Object:  Table [dbo].[Role]    Script Date: 01/20/2012 10:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_by] [nvarchar](50) NULL,
	[updated_date] [datetime] NULL,
	[isactive] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Role] ([roleId], [name], [created_by], [created_date], [updated_by], [updated_date], [isactive]) VALUES (N'9ee597ce-a7a3-441e-91ba-1e2f88aef706', N'Production', N'admin', CAST(0x00009FD800635F12 AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Role] ([roleId], [name], [created_by], [created_date], [updated_by], [updated_date], [isactive]) VALUES (N'f75d665c-0bd0-4504-b881-49f8eeae5d86', N'Accountant', N'admin', CAST(0x00009FD8006318DA AS DateTime), N'admin', CAST(0x00009FD80072F495 AS DateTime), 1)
INSERT [dbo].[Role] ([roleId], [name], [created_by], [created_date], [updated_by], [updated_date], [isactive]) VALUES (N'0c6ab011-fbac-4eda-912c-6e148a101add', N'Report', N'admin', CAST(0x00009FD800619F26 AS DateTime), N'admin', CAST(0x00009FD800795B32 AS DateTime), 1)
/****** Object:  Table [dbo].[Workflow]    Script Date: 01/20/2012 10:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workflow](
	[workflowId] [uniqueidentifier] NOT NULL,
	[departmentId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_by] [nvarchar](50) NULL,
	[updated_date] [datetime] NULL,
	[isactive] [bit] NOT NULL,
	[prevWorkflowID] [uniqueidentifier] NULL,
	[nextWorkflowID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Workflow] PRIMARY KEY CLUSTERED 
(
	[workflowId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Workflow] ([workflowId], [departmentId], [name], [created_by], [created_date], [updated_by], [updated_date], [isactive], [prevWorkflowID], [nextWorkflowID]) VALUES (N'8d803ad5-e625-42cc-9800-073897653d26', N'3ecff3ca-6379-4d9b-b4b3-354f7147fe0c', N'Engraving To Production', N'Ba Tien', CAST(0x00009FD8003658DF AS DateTime), N'system', CAST(0x00009FD800493F8F AS DateTime), 1, N'ccda355c-8301-42e9-8856-6220cc22d020', N'47d51268-f6f7-4bb8-a841-70a403729af5')
INSERT [dbo].[Workflow] ([workflowId], [departmentId], [name], [created_by], [created_date], [updated_by], [updated_date], [isactive], [prevWorkflowID], [nextWorkflowID]) VALUES (N'd6b0ac57-c413-460d-b78c-1717171409d1', N'951b242a-3ccb-40d0-91fb-f593e154c012', N'Graphic to Engraving', N'Ba Tien', CAST(0x00009FD8003658DF AS DateTime), N'system', CAST(0x00009FD80047BEA8 AS DateTime), 1, N'59068baf-7496-4e01-aefe-20972a297aff', N'8d803ad5-e625-42cc-9800-073897653d26')
INSERT [dbo].[Workflow] ([workflowId], [departmentId], [name], [created_by], [created_date], [updated_by], [updated_date], [isactive], [prevWorkflowID], [nextWorkflowID]) VALUES (N'59068baf-7496-4e01-aefe-20972a297aff', N'cb609ff0-00b7-4994-94f8-420054eebd7b', N'Sales to Graphic', N'Ba Tien', CAST(0x00009FD8003658DE AS DateTime), N'system', CAST(0x00009FD80047C826 AS DateTime), 1, NULL, N'd6b0ac57-c413-460d-b78c-1717171409d1')
/****** Object:  Table [dbo].[Role_Right_ref]    Script Date: 01/20/2012 10:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Right_ref](
	[Id] [uniqueidentifier] NOT NULL,
	[roleId] [uniqueidentifier] NOT NULL,
	[rightId] [uniqueidentifier] NOT NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_by] [nvarchar](50) NULL,
	[updated_date] [datetime] NULL,
 CONSTRAINT [PK_Role_Right_ref] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Role_Right_ref] ([Id], [roleId], [rightId], [created_by], [created_date], [updated_by], [updated_date]) VALUES (N'e187e318-8238-48a6-814e-0d6eb4a2a46d', N'f75d665c-0bd0-4504-b881-49f8eeae5d86', N'14f366a1-5ee2-445d-b049-15e5320bb57f', N'admin', CAST(0x00009FD80072F49A AS DateTime), NULL, NULL)
INSERT [dbo].[Role_Right_ref] ([Id], [roleId], [rightId], [created_by], [created_date], [updated_by], [updated_date]) VALUES (N'2e37a7d7-6213-4dec-8ee0-1be6e3a6fafd', N'4450f261-cb23-44ac-a2e3-f484915630f7', N'c912e498-bb9e-4e84-b2cb-bb56a21e1c4a', N'super', CAST(0x00009FD800687819 AS DateTime), NULL, NULL)
INSERT [dbo].[Role_Right_ref] ([Id], [roleId], [rightId], [created_by], [created_date], [updated_by], [updated_date]) VALUES (N'b5dd3386-1a1e-4986-bebc-1cdf24fbf996', N'4450f261-cb23-44ac-a2e3-f484915630f7', N'd15b5e23-c275-46b1-93a4-15c11b8c6454', N'super', CAST(0x00009FD800687819 AS DateTime), NULL, NULL)
/****** Object:  Table [dbo].[Printer]    Script Date: 01/20/2012 10:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Printer](
	[printer_id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NULL,
	[address] [nvarchar](255) NULL,
	[code] [nvarchar](10) NULL,
	[hole_stick] [nvarchar](50) NULL,
	[name] [nvarchar](255) NULL,
	[slot_latch] [nvarchar](50) NULL,
	[status] [nvarchar](10) NULL,
	[created_date] [datetime] NULL,
	[created_by] [nvarchar](50) NULL,
	[updated_date] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
 CONSTRAINT [PK_Printer] PRIMARY KEY CLUSTERED 
(
	[printer_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Printer] ([printer_id], [customer_id], [address], [code], [hole_stick], [name], [slot_latch], [status], [created_date], [created_by], [updated_date], [updated_by]) VALUES (N'963d5e62-d01f-4eaa-8c57-32c987c5158d', N'c8de51b8-c8d7-4d42-90b0-8fe6f477ca8c', N'', N'14', N'60 x 15', N'Nhựa Tân Hưng', N'7 x 4', N'', CAST(0x00009FD80060A499 AS DateTime), N'Ba Tien', NULL, N'Ba Tien')
INSERT [dbo].[Printer] ([printer_id], [customer_id], [address], [code], [hole_stick], [name], [slot_latch], [status], [created_date], [created_by], [updated_date], [updated_by]) VALUES (N'b98ff0dc-bd5a-43ff-936a-60288ad09776', N'7feb104a-1226-42b4-aefc-c45246d2190d', N'', N'1Q', N'70 x 15', N'Viky', N'12 x 5', N'', CAST(0x00009FD80060A499 AS DateTime), N'Ba Tien', NULL, N'Ba Tien')
INSERT [dbo].[Printer] ([printer_id], [customer_id], [address], [code], [hole_stick], [name], [slot_latch], [status], [created_date], [created_by], [updated_date], [updated_by]) VALUES (N'3efac799-8f70-4b31-95c1-8b6faed11771', N'4a9cde7a-2ca7-42fc-8cd4-2aa004262a2e', N'', N'12', N'70 x 15', N'Anh Hà (BN) Máy 3', N'10 x 9 (1 Đầu)', N'', CAST(0x00009FD80060A499 AS DateTime), N'Ba Tien', NULL, N'Ba Tien')
/****** Object:  Table [dbo].[Order]    Script Date: 01/20/2012 10:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderId] [uniqueidentifier] NOT NULL,
	[order_code] [nvarchar](50) NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[customer_rep] [nvarchar](50) NULL,
	[product_name] [nvarchar](255) NULL,
	[price_type] [nvarchar](50) NULL,
	[redo_pct] [decimal](18, 2) NULL,
	[old_core] [bit] NULL,
	[delivery_date] [datetime] NULL,
	[order_type] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[set_code] [nvarchar](50) NULL,
	[cylinder_type] [nvarchar](50) NULL,
	[old_order_code] [nvarchar](50) NULL,
	[priority] [nvarchar](50) NULL,
	[created_date] [datetime] NOT NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[updated_date] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
	[belong_to_set] [nvarchar](50) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GenerateNewID]    Script Date: 01/20/2012 10:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tin
-- Create date: 8-Jan-2012
-- =============================================
CREATE PROCEDURE [dbo].[GenerateNewID]
	
AS
BEGIN

	declare @NextId as bigint;
	
	UPDATE  AutoId  SET @NextId= autoid	= Case
										When MONTH(created_date)=MONTH(GETDATE()) then autoid+1
										When MONTH(created_date) <> MONTH(GETDATE()) then 0
								  End,
						created_date = GETDATE()
 
	select @NextId as SequenceCode ;
END
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 01/20/2012 10:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employeeId] [uniqueidentifier] NOT NULL,
	[departmentId] [uniqueidentifier] NOT NULL,
	[surname] [nvarchar](50) NULL,
	[given_name] [nvarchar](255) NULL,
	[staff_code] [nvarchar](50) NOT NULL,
	[barcode] [nvarchar](50) NULL,
	[position] [nvarchar](50) NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_date] [datetime] NULL,
	[updated_by] [nvarchar](50) NULL,
	[isactive] [bit] NOT NULL,
	[language] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[employeeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([employeeId], [departmentId], [surname], [given_name], [staff_code], [barcode], [position], [username], [password], [created_by], [created_date], [updated_date], [updated_by], [isactive], [language]) VALUES (N'00000000-0000-0000-0000-000000000000', N'3ecff3ca-6379-4d9b-b4b3-354f7147fe0c', N'Super', N'Super', N'Super', N'Super', N'Super', N'super', N'super', N'system', CAST(0x00009FCB00000000 AS DateTime), NULL, NULL, 1, N'EN')
INSERT [dbo].[Employee] ([employeeId], [departmentId], [surname], [given_name], [staff_code], [barcode], [position], [username], [password], [created_by], [created_date], [updated_date], [updated_by], [isactive], [language]) VALUES (N'df179cb4-ce5e-4aa8-bce9-05d26cdada92', N'3ecff3ca-6379-4d9b-b4b3-354f7147fe0c', N'new user', N'New User', N'new001', N'new001', N'NA', N'newuser', N'newuser', N'admin', CAST(0x00009FD800000000 AS DateTime), NULL, NULL, 1, N'EN')
INSERT [dbo].[Employee] ([employeeId], [departmentId], [surname], [given_name], [staff_code], [barcode], [position], [username], [password], [created_by], [created_date], [updated_date], [updated_by], [isactive], [language]) VALUES (N'2c2f6803-8491-45f6-a866-80a4d3a691ec', N'3ecff3ca-6379-4d9b-b4b3-354f7147fe0c', N'', N'admin', N'ADM001', N'b001', N'Department Admin', N'admin', N'admin', N'user1', CAST(0x00009FD400000000 AS DateTime), NULL, NULL, 1, N'EN')
/****** Object:  Table [dbo].[Emp_Role_ref]    Script Date: 01/20/2012 10:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp_Role_ref](
	[Id] [uniqueidentifier] NOT NULL,
	[employeeId] [uniqueidentifier] NOT NULL,
	[roleId] [uniqueidentifier] NOT NULL,
	[isapproved] [bit] NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_by] [nvarchar](50) NULL,
	[updated_date] [datetime] NULL,
 CONSTRAINT [PK_Emp_Role_ref] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Emp_Role_ref] ([Id], [employeeId], [roleId], [isapproved], [created_by], [created_date], [updated_by], [updated_date]) VALUES (N'0949a87b-9e41-4ce1-89e2-0d4175b4064e', N'd57a0a4a-7951-44e2-8975-db71e779121b', N'0c6ab011-fbac-4eda-912c-6e148a101add', 1, N'admin', CAST(0x00009FD800000000 AS DateTime), NULL, NULL)
INSERT [dbo].[Emp_Role_ref] ([Id], [employeeId], [roleId], [isapproved], [created_by], [created_date], [updated_by], [updated_date]) VALUES (N'968eb8af-8be0-4a56-b365-a7f2ae3a8998', N'df179cb4-ce5e-4aa8-bce9-05d26cdada92', N'f75d665c-0bd0-4504-b881-49f8eeae5d86', 1, N'admin', CAST(0x00009FD800000000 AS DateTime), NULL, NULL)
INSERT [dbo].[Emp_Role_ref] ([Id], [employeeId], [roleId], [isapproved], [created_by], [created_date], [updated_by], [updated_date]) VALUES (N'488e057a-1f4a-4610-bd89-b624d34a2693', N'2c2f6803-8491-45f6-a866-80a4d3a691ec', N'4450f261-cb23-44ac-a2e3-f484915630f7', 1, N'super', CAST(0x00009FD800000000 AS DateTime), NULL, NULL)
/****** Object:  Table [dbo].[Step]    Script Date: 01/20/2012 10:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Step](
	[stepId] [uniqueidentifier] NOT NULL,
	[workflowId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](500) NULL,
	[instruction] [nvarchar](2000) NULL,
	[note] [nvarchar](500) NULL,
	[x] [int] NOT NULL,
	[y] [int] NOT NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_by] [nvarchar](50) NULL,
	[updated_date] [datetime] NULL,
	[isActive] [bit] NOT NULL,
	[isStep] [bit] NOT NULL,
	[isBegin] [bit] NOT NULL,
 CONSTRAINT [PK_Step] PRIMARY KEY CLUSTERED 
(
	[stepId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Step] ([stepId], [workflowId], [name], [description], [instruction], [note], [x], [y], [created_by], [created_date], [updated_by], [updated_date], [isActive], [isStep], [isBegin]) VALUES (N'bd68863f-3b15-49dd-8664-079d0941f3f8', N'59068baf-7496-4e01-aefe-20972a297aff', N'Graphic to Engraving(END)', N'', N'', N'', 72, 334, N'workflow_app', CAST(0x00009FD800431297 AS DateTime), N'workflow_app', CAST(0x00009FD80047C829 AS DateTime), 1, 0, 0)
INSERT [dbo].[Step] ([stepId], [workflowId], [name], [description], [instruction], [note], [x], [y], [created_by], [created_date], [updated_by], [updated_date], [isActive], [isStep], [isBegin]) VALUES (N'd844681e-c67c-4c27-8c92-0894aa913e42', N'a778000a-743f-4536-b05d-69851c756718', N'QC2 To Prod Mgmt(END)', N'', N'', N'', 58, 291, N'workflow_app', CAST(0x00009FD80044F1EC AS DateTime), N'workflow_app', CAST(0x00009FD800487601 AS DateTime), 1, 0, 0)
INSERT [dbo].[Step] ([stepId], [workflowId], [name], [description], [instruction], [note], [x], [y], [created_by], [created_date], [updated_by], [updated_date], [isActive], [isStep], [isBegin]) VALUES (N'dfc0121a-7bfd-4c18-a5e3-14693e265a24', N'd6b0ac57-c413-460d-b78c-1717171409d1', N'Sales to Graphic (BEGIN)', N'', N'', N'', 10, 10, N'workflow_app', CAST(0x00009FD800430086 AS DateTime), N'workflow_app', CAST(0x00009FD80047BEAC AS DateTime), 1, 0, 1)
/****** Object:  Table [dbo].[Order_Log]    Script Date: 01/20/2012 10:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Log](
	[id] [uniqueidentifier] NOT NULL,
	[workflowId] [uniqueidentifier] NOT NULL,
	[orderId] [uniqueidentifier] NOT NULL,
	[order_status] [nvarchar](10) NULL,
	[dept_name] [nvarchar](25) NOT NULL,
	[updated_date] [datetime] NOT NULL,
	[remarks] [nvarchar](255) NULL,
	[updated_by] [nvarchar](max) NULL,
	[related_cyl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Order_Log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Order_Log] ([id], [workflowId], [orderId], [order_status], [dept_name], [updated_date], [remarks], [updated_by], [related_cyl]) VALUES (N'0552d3ca-4785-4e51-a406-14f53d10af58', N'59068baf-7496-4e01-aefe-20972a297aff', N'4e9966d5-85b4-42f2-8e24-3ae019ca5989', N'STG', N'Sales Dept', CAST(0x00009FD80075797E AS DateTime), NULL, N'admin', NULL)
INSERT [dbo].[Order_Log] ([id], [workflowId], [orderId], [order_status], [dept_name], [updated_date], [remarks], [updated_by], [related_cyl]) VALUES (N'f3707f3a-4deb-4077-a477-5452259ca6dc', N'eb189601-15cc-405f-af5c-8a687d5fd793', N'4e9966d5-85b4-42f2-8e24-3ae019ca5989', N'PROD', N'Sales Dept', CAST(0x00009FD80075C394 AS DateTime), NULL, N'admin', NULL)
INSERT [dbo].[Order_Log] ([id], [workflowId], [orderId], [order_status], [dept_name], [updated_date], [remarks], [updated_by], [related_cyl]) VALUES (N'8a5a4577-c26a-4b52-b0d3-5e0274341765', N'eb189601-15cc-405f-af5c-8a687d5fd793', N'4e2fc36d-a8dd-4c05-8111-8ce322c7a5cc', N'PROD', N'Sales Dept', CAST(0x00009FD80057B2C2 AS DateTime), NULL, N'admin', NULL)
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 01/20/2012 10:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[order_detailId] [uniqueidentifier] NOT NULL,
	[orderId] [uniqueidentifier] NOT NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_by] [nvarchar](50) NULL,
	[updated_date] [datetime] NULL,
	[core_type] [nvarchar](10) NULL,
	[prod_print_width] [decimal](18, 2) NULL,
	[prod_width_stretch] [decimal](18, 2) NULL,
	[prod_print_height] [decimal](18, 2) NULL,
	[prod_height_stretch] [decimal](18, 2) NULL,
	[length_dir_repeat] [decimal](18, 2) NULL,
	[circum_dir_repeat] [decimal](18, 2) NULL,
	[web_print_width] [decimal](18, 2) NULL,
	[web_total_width] [decimal](18, 2) NULL,
	[cyl_length] [decimal](18, 2) NULL,
	[cyl_diameter] [decimal](18, 2) NULL,
	[eyemark_height] [decimal](18, 2) NULL,
	[eyemark_width] [decimal](18, 2) NULL,
	[eyemark_color] [nvarchar](10) NULL,
	[eyemark_sign] [nvarchar](10) NULL,
	[eyemark_location] [nvarchar](10) NULL,
	[keyhole_type] [nvarchar](10) NULL,
	[keyhole_inner_dia] [decimal](18, 2) NULL,
	[keyhole_outer_dia] [decimal](18, 2) NULL,
	[keyhole_angle] [decimal](18, 2) NULL,
	[keyhole_keyway] [nvarchar](10) NULL,
	[color_count] [decimal](18, 2) NULL,
	[color_list] [nvarchar](12) NULL,
	[new_cyl_count] [decimal](18, 2) NULL,
	[used_cyl_count] [decimal](18, 2) NULL,
	[print_method] [nvarchar](5) NULL,
	[reg_mark_type] [nvarchar](10) NULL,
	[splitline_size] [decimal](18, 2) NULL,
	[splitline_type] [nvarchar](10) NULL,
	[splitline_color] [nvarchar](10) NULL,
	[print_material] [nvarchar](10) NULL,
	[result_based_on] [nvarchar](10) NULL,
	[img_orientation] [nvarchar](10) NULL,
	[graphic_done_date] [datetime] NULL,
	[sent_to_mech_date] [datetime] NULL,
	[cut_core_result] [nvarchar](20) NULL,
	[changes] [nvarchar](20) NULL,
 CONSTRAINT [PK_Order_Detail] PRIMARY KEY CLUSTERED 
(
	[order_detailId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cylinder]    Script Date: 01/20/2012 10:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cylinder](
	[cylinderId] [uniqueidentifier] NOT NULL,
	[workflowId] [uniqueidentifier] NOT NULL,
	[order_detailId] [uniqueidentifier] NOT NULL,
	[barcode] [nvarchar](50) NOT NULL,
	[stepId] [uniqueidentifier] NULL,
	[color_no] [int] NULL,
	[core_type] [nvarchar](10) NULL,
	[cyl_no] [int] NULL,
	[diameter] [decimal](18, 2) NULL,
	[length] [decimal](18, 5) NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_by] [nvarchar](50) NULL,
	[updated_date] [datetime] NULL,
	[status] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Cylinder] PRIMARY KEY CLUSTERED 
(
	[cylinderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cylinder] ([cylinderId], [workflowId], [order_detailId], [barcode], [stepId], [color_no], [core_type], [cyl_no], [diameter], [length], [created_by], [created_date], [updated_by], [updated_date], [status]) VALUES (N'7df0bb71-514c-41c7-9ea1-686e01c5a868', N'8d803ad5-e625-42cc-9800-073897653d26', N'3bcde5ab-bc30-4762-8d2e-1921de65fd8d', N'0009-11201-011', N'76236d69-9db0-4bfb-bb58-64d4f7552a2f', 1, N'1', 1, CAST(1.59 AS Decimal(18, 2)), CAST(10.00000 AS Decimal(18, 5)), N'tin', CAST(0x00009FD500004650 AS DateTime), N'admin', CAST(0x00009FD800528299 AS DateTime), N'INPROD')
INSERT [dbo].[Cylinder] ([cylinderId], [workflowId], [order_detailId], [barcode], [stepId], [color_no], [core_type], [cyl_no], [diameter], [length], [created_by], [created_date], [updated_by], [updated_date], [status]) VALUES (N'98781f9c-2b93-4d97-bfc6-cbc159ada351', N'68f9beaa-d587-452f-bc84-6558279dd00a', N'0832b93e-0de3-435a-9513-f2cbcc4bd279', N'0013-11202-021', N'930d496e-b665-4209-9c62-7b37e8f22e6e', 2, N'1', 2, CAST(0.63 AS Decimal(18, 2)), CAST(1.50000 AS Decimal(18, 5)), N'finance', CAST(0x00009FD800000000 AS DateTime), N'admin', CAST(0x00009FD80075797C AS DateTime), N'INPROD')
INSERT [dbo].[Cylinder] ([cylinderId], [workflowId], [order_detailId], [barcode], [stepId], [color_no], [core_type], [cyl_no], [diameter], [length], [created_by], [created_date], [updated_by], [updated_date], [status]) VALUES (N'ff5a9459-5c61-4bd2-a485-d6ffc0c4231f', N'68f9beaa-d587-452f-bc84-6558279dd00a', N'3bcde5ab-bc30-4762-8d2e-1921de65fd8d', N'0009-11202-021', N'930d496e-b665-4209-9c62-7b37e8f22e6e', 2, N'1', 2, CAST(1.59 AS Decimal(18, 2)), CAST(10.00000 AS Decimal(18, 5)), N'tin', CAST(0x00009FD500004650 AS DateTime), N'admin', CAST(0x00009FD800528299 AS DateTime), N'INPROD')
/****** Object:  Table [dbo].[Step_ref]    Script Date: 01/20/2012 10:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Step_ref](
	[Id] [uniqueidentifier] NOT NULL,
	[workflowId] [uniqueidentifier] NOT NULL,
	[from_stepId] [uniqueidentifier] NOT NULL,
	[to_stepId] [uniqueidentifier] NOT NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_by] [nvarchar](50) NULL,
	[updated_date] [datetime] NULL,
 CONSTRAINT [PK_Step_ref] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Step_ref] ([Id], [workflowId], [from_stepId], [to_stepId], [created_by], [created_date], [updated_by], [updated_date]) VALUES (N'e314d0db-9362-43d7-8f99-0b28542fd9d4', N'd6b0ac57-c413-460d-b78c-1717171409d1', N'dfc0121a-7bfd-4c18-a5e3-14693e265a24', N'3fc49b85-08fa-4335-84be-c76f117a1279', N'workflow_app', CAST(0x00009FD80047BEBC AS DateTime), NULL, NULL)
INSERT [dbo].[Step_ref] ([Id], [workflowId], [from_stepId], [to_stepId], [created_by], [created_date], [updated_by], [updated_date]) VALUES (N'1695f67f-d60c-4b51-a2ff-1879ba41856d', N'47d51268-f6f7-4bb8-a841-70a403729af5', N'8cd15db6-4370-4d64-8b08-593d064cc374', N'64bec2c7-0f7d-4c22-b339-258a1404d844', N'workflow_app', CAST(0x00009FD80045841B AS DateTime), NULL, NULL)
INSERT [dbo].[Step_ref] ([Id], [workflowId], [from_stepId], [to_stepId], [created_by], [created_date], [updated_by], [updated_date]) VALUES (N'9e99cd75-4045-4f19-a483-2042c59f06ff', N'68f9beaa-d587-452f-bc84-6558279dd00a', N'930d496e-b665-4209-9c62-7b37e8f22e6e', N'7d27b70c-2783-4ba3-b593-5fdad66c798f', N'workflow_app', CAST(0x00009FD80044A7DB AS DateTime), NULL, NULL)
/****** Object:  Table [dbo].[Formula]    Script Date: 01/20/2012 10:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formula](
	[formulaId] [uniqueidentifier] NOT NULL,
	[stepId] [uniqueidentifier] NOT NULL,
	[formula] [nvarchar](50) NOT NULL,
	[coef1] [int] NOT NULL,
	[coef2] [int] NOT NULL,
	[coef3] [int] NOT NULL,
	[coef4] [int] NOT NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[isactive] [bit] NOT NULL,
 CONSTRAINT [PK_Formula] PRIMARY KEY CLUSTERED 
(
	[formulaId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Formula] ([formulaId], [stepId], [formula], [coef1], [coef2], [coef3], [coef4], [created_by], [created_date], [isactive]) VALUES (N'd00cb41b-896d-482c-ac17-00707214477e', N'930d496e-b665-4209-9c62-7b37e8f22e6e', N'', 0, 0, 0, 0, N'system', CAST(0x00009FD8004878CC AS DateTime), 1)
INSERT [dbo].[Formula] ([formulaId], [stepId], [formula], [coef1], [coef2], [coef3], [coef4], [created_by], [created_date], [isactive]) VALUES (N'f2266ce7-0cf0-4e9a-b1fb-1d35fbc40494', N'60b339b1-0ea3-4ae3-83ca-b4c6f075ea5e', N'', 0, 0, 0, 0, N'system', CAST(0x00009FD80047F2F0 AS DateTime), 1)
INSERT [dbo].[Formula] ([formulaId], [stepId], [formula], [coef1], [coef2], [coef3], [coef4], [created_by], [created_date], [isactive]) VALUES (N'accffb10-cf17-48ca-94d9-2304b0b3550c', N'04091e18-ff1f-485f-8048-dcc609ca2c2c', N'', 0, 0, 0, 0, N'system', CAST(0x00009FD800493FB0 AS DateTime), 1)
/****** Object:  Table [dbo].[Cylinder_Log]    Script Date: 01/20/2012 10:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cylinder_Log](
	[cylinderlogId] [uniqueidentifier] NOT NULL,
	[cylinderId] [uniqueidentifier] NOT NULL,
	[dept_name] [nvarchar](50) NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NULL,
	[mark] [int] NULL,
	[formula] [nvarchar](255) NOT NULL,
	[employeeId] [uniqueidentifier] NULL,
	[error_desc] [nvarchar](255) NULL,
	[stepId] [uniqueidentifier] NOT NULL,
	[created_by] [nvarchar](50) NOT NULL,
	[remark] [nvarchar](255) NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK_Cylinder_Log] PRIMARY KEY CLUSTERED 
(
	[cylinderlogId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cylinder_Log] ([cylinderlogId], [cylinderId], [dept_name], [start_time], [end_time], [mark], [formula], [employeeId], [error_desc], [stepId], [created_by], [remark], [status]) VALUES (N'33c61a65-c380-4a26-88d6-0d8fd383a47e', N'8363df47-3afc-4d42-a19f-e3a0c07f4175', N'Engraving-Lasering Dept', CAST(0x00009FD80076C6D0 AS DateTime), CAST(0x00009FD80076C6D0 AS DateTime), 0, N',coef1=0,coef2=0,coef3=0,coef4=0', N'2c2f6803-8491-45f6-a866-80a4d3a691ec', N'', N'80a1b7e6-a4a7-4e96-91b4-5f13156066ff', N' admin', N'Sent from previous workflow', N'COMP')
INSERT [dbo].[Cylinder_Log] ([cylinderlogId], [cylinderId], [dept_name], [start_time], [end_time], [mark], [formula], [employeeId], [error_desc], [stepId], [created_by], [remark], [status]) VALUES (N'5687bbb4-6c8a-4041-b1ae-13ed77dfde53', N'7df0bb71-514c-41c7-9ea1-686e01c5a868', N'Engraving-Lasering Dept', CAST(0x00009FD8007119EF AS DateTime), CAST(0x00009FD8007119EF AS DateTime), 0, N',coef1=0,coef2=0,coef3=0,coef4=0', N'2c2f6803-8491-45f6-a866-80a4d3a691ec', N'', N'76236d69-9db0-4bfb-bb58-64d4f7552a2f', N' admin', N'Sent from previous workflow', N'COMP')
INSERT [dbo].[Cylinder_Log] ([cylinderlogId], [cylinderId], [dept_name], [start_time], [end_time], [mark], [formula], [employeeId], [error_desc], [stepId], [created_by], [remark], [status]) VALUES (N'f0f2db1a-44b1-41e5-8384-1cb44a5ed828', N'7df0bb71-514c-41c7-9ea1-686e01c5a868', N'Engraving-Lasering Dept', CAST(0x00009FD80058D605 AS DateTime), CAST(0x00009FD80058D605 AS DateTime), 0, N',coef1=0,coef2=0,coef3=0,coef4=0', N'2c2f6803-8491-45f6-a866-80a4d3a691ec', N'', N'80a1b7e6-a4a7-4e96-91b4-5f13156066ff', N' Tin', N'Sent from previous workflow', N'COMP')
/****** Object:  Default [DF_Table_1_CustomerID]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Table_1_CustomerID]  DEFAULT (newid()) FOR [customerid]
GO
/****** Object:  Default [DF_Table_1_orderid]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[AutoID] ADD  CONSTRAINT [DF_Table_1_orderid]  DEFAULT ((0)) FOR [autoid]
GO
/****** Object:  Default [DF_AutoID_created_date]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[AutoID] ADD  CONSTRAINT [DF_AutoID_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
/****** Object:  Default [DF_Access_Right_rightsId]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Access_Right] ADD  CONSTRAINT [DF_Access_Right_rightsId]  DEFAULT (newid()) FOR [rightsId]
GO
/****** Object:  Default [DF_Access_Right_created_by]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Access_Right] ADD  CONSTRAINT [DF_Access_Right_created_by]  DEFAULT (N'system') FOR [created_by]
GO
/****** Object:  Default [DF_Access_Right_created_date]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Access_Right] ADD  CONSTRAINT [DF_Access_Right_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
/****** Object:  Default [DF_Access_Right_isactive]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Access_Right] ADD  CONSTRAINT [DF_Access_Right_isactive]  DEFAULT ((1)) FOR [isactive]
GO
/****** Object:  Default [DF_Department_departmentId]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_departmentId]  DEFAULT (newid()) FOR [departmentId]
GO
/****** Object:  Default [DF_Department_isactive]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_isactive]  DEFAULT ((1)) FOR [isactive]
GO
/****** Object:  Default [DF_Role_isactive]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_isactive]  DEFAULT ((1)) FOR [isactive]
GO
/****** Object:  Default [DF_Workflow_workflowId]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Workflow] ADD  CONSTRAINT [DF_Workflow_workflowId]  DEFAULT (newid()) FOR [workflowId]
GO
/****** Object:  Default [DF_Workflow_isactive]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Workflow] ADD  CONSTRAINT [DF_Workflow_isactive]  DEFAULT ((1)) FOR [isactive]
GO
/****** Object:  Default [DF_Role_Right_ref_Id]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Role_Right_ref] ADD  CONSTRAINT [DF_Role_Right_ref_Id]  DEFAULT (newid()) FOR [Id]
GO
/****** Object:  Default [DF_Role_Right_ref_created_date]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Role_Right_ref] ADD  CONSTRAINT [DF_Role_Right_ref_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
/****** Object:  Default [DF_Order_isactive]    Script Date: 01/20/2012 10:38:39 ******/
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_isactive]  DEFAULT ((0)) FOR [status]
GO
/****** Object:  Default [DF_Employee_employeeId]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_employeeId]  DEFAULT (newid()) FOR [employeeId]
GO
/****** Object:  Default [DF_Employee_isactive]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_isactive]  DEFAULT ((1)) FOR [isactive]
GO
/****** Object:  Default [DF_Employee_language]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [DF_Employee_language]  DEFAULT (N'EN') FOR [language]
GO
/****** Object:  Default [DF_Emp_Role_ref_Id]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Emp_Role_ref] ADD  CONSTRAINT [DF_Emp_Role_ref_Id]  DEFAULT (newid()) FOR [Id]
GO
/****** Object:  Default [DF_Emp_Role_ref_isapproved]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Emp_Role_ref] ADD  CONSTRAINT [DF_Emp_Role_ref_isapproved]  DEFAULT ((0)) FOR [isapproved]
GO
/****** Object:  Default [DF_Step_stepId]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Step] ADD  CONSTRAINT [DF_Step_stepId]  DEFAULT (newid()) FOR [stepId]
GO
/****** Object:  Default [DF_Step_isActive]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Step] ADD  CONSTRAINT [DF_Step_isActive]  DEFAULT ((1)) FOR [isActive]
GO
/****** Object:  Default [DF_Step_isStep_1]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Step] ADD  CONSTRAINT [DF_Step_isStep_1]  DEFAULT ((1)) FOR [isStep]
GO
/****** Object:  Default [DF_Step_isStep]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Step] ADD  CONSTRAINT [DF_Step_isStep]  DEFAULT ((0)) FOR [isBegin]
GO
/****** Object:  Default [DF_Cylinder_status]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Cylinder] ADD  CONSTRAINT [DF_Cylinder_status]  DEFAULT (N'PENDING') FOR [status]
GO
/****** Object:  Default [DF_Formula_isactive]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Formula] ADD  CONSTRAINT [DF_Formula_isactive]  DEFAULT ((1)) FOR [isactive]
GO
/****** Object:  Default [DF_Cylinder_Log_formula]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Cylinder_Log] ADD  CONSTRAINT [DF_Cylinder_Log_formula]  DEFAULT ('') FOR [formula]
GO
/****** Object:  ForeignKey [FK_Workflow_Department]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Workflow]  WITH CHECK ADD  CONSTRAINT [FK_Workflow_Department] FOREIGN KEY([departmentId])
REFERENCES [dbo].[Department] ([departmentId])
GO
ALTER TABLE [dbo].[Workflow] CHECK CONSTRAINT [FK_Workflow_Department]
GO
/****** Object:  ForeignKey [FK_Role_Right_ref_Access_Right]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Role_Right_ref]  WITH CHECK ADD  CONSTRAINT [FK_Role_Right_ref_Access_Right] FOREIGN KEY([rightId])
REFERENCES [dbo].[Access_Right] ([rightsId])
GO
ALTER TABLE [dbo].[Role_Right_ref] CHECK CONSTRAINT [FK_Role_Right_ref_Access_Right]
GO
/****** Object:  ForeignKey [FK_Role_Right_ref_Role]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Role_Right_ref]  WITH CHECK ADD  CONSTRAINT [FK_Role_Right_ref_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
GO
ALTER TABLE [dbo].[Role_Right_ref] CHECK CONSTRAINT [FK_Role_Right_ref_Role]
GO
/****** Object:  ForeignKey [FK_Printer_Customer]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Printer]  WITH CHECK ADD  CONSTRAINT [FK_Printer_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customerid])
GO
ALTER TABLE [dbo].[Printer] CHECK CONSTRAINT [FK_Printer_Customer]
GO
/****** Object:  ForeignKey [FK_Order_Customer]    Script Date: 01/20/2012 10:38:38 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customerid])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
/****** Object:  ForeignKey [FK_Employee_Department]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([departmentId])
REFERENCES [dbo].[Department] ([departmentId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
/****** Object:  ForeignKey [FK_Emp_Role_ref_Employee]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Emp_Role_ref]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Role_ref_Employee] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[Emp_Role_ref] CHECK CONSTRAINT [FK_Emp_Role_ref_Employee]
GO
/****** Object:  ForeignKey [FK_Emp_Role_ref_Role]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Emp_Role_ref]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Role_ref_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
GO
ALTER TABLE [dbo].[Emp_Role_ref] CHECK CONSTRAINT [FK_Emp_Role_ref_Role]
GO
/****** Object:  ForeignKey [FK_Step_Workflow]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Step]  WITH CHECK ADD  CONSTRAINT [FK_Step_Workflow] FOREIGN KEY([workflowId])
REFERENCES [dbo].[Workflow] ([workflowId])
GO
ALTER TABLE [dbo].[Step] CHECK CONSTRAINT [FK_Step_Workflow]
GO
/****** Object:  ForeignKey [FK_Order_Log_Order]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Order_Log]  WITH CHECK ADD  CONSTRAINT [FK_Order_Log_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[Order_Log] CHECK CONSTRAINT [FK_Order_Log_Order]
GO
/****** Object:  ForeignKey [FK_Order_Log_Workflow]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Order_Log]  WITH CHECK ADD  CONSTRAINT [FK_Order_Log_Workflow] FOREIGN KEY([workflowId])
REFERENCES [dbo].[Workflow] ([workflowId])
GO
ALTER TABLE [dbo].[Order_Log] CHECK CONSTRAINT [FK_Order_Log_Workflow]
GO
/****** Object:  ForeignKey [FK_Order_Detail_Order]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_Order_Detail_Order]
GO
/****** Object:  ForeignKey [FK_Cylinder_Order_Detail]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Cylinder]  WITH CHECK ADD  CONSTRAINT [FK_Cylinder_Order_Detail] FOREIGN KEY([order_detailId])
REFERENCES [dbo].[Order_Detail] ([order_detailId])
GO
ALTER TABLE [dbo].[Cylinder] CHECK CONSTRAINT [FK_Cylinder_Order_Detail]
GO
/****** Object:  ForeignKey [FK_Cylinder_Workflow]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Cylinder]  WITH CHECK ADD  CONSTRAINT [FK_Cylinder_Workflow] FOREIGN KEY([workflowId])
REFERENCES [dbo].[Workflow] ([workflowId])
GO
ALTER TABLE [dbo].[Cylinder] CHECK CONSTRAINT [FK_Cylinder_Workflow]
GO
/****** Object:  ForeignKey [FK_Step_ref_Step]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Step_ref]  WITH CHECK ADD  CONSTRAINT [FK_Step_ref_Step] FOREIGN KEY([from_stepId])
REFERENCES [dbo].[Step] ([stepId])
GO
ALTER TABLE [dbo].[Step_ref] CHECK CONSTRAINT [FK_Step_ref_Step]
GO
/****** Object:  ForeignKey [FK_Step_ref_Step1]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Step_ref]  WITH CHECK ADD  CONSTRAINT [FK_Step_ref_Step1] FOREIGN KEY([to_stepId])
REFERENCES [dbo].[Step] ([stepId])
GO
ALTER TABLE [dbo].[Step_ref] CHECK CONSTRAINT [FK_Step_ref_Step1]
GO
/****** Object:  ForeignKey [FK_Step_ref_Workflow]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Step_ref]  WITH CHECK ADD  CONSTRAINT [FK_Step_ref_Workflow] FOREIGN KEY([workflowId])
REFERENCES [dbo].[Workflow] ([workflowId])
GO
ALTER TABLE [dbo].[Step_ref] CHECK CONSTRAINT [FK_Step_ref_Workflow]
GO
/****** Object:  ForeignKey [FK_Formula_Step]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Formula]  WITH CHECK ADD  CONSTRAINT [FK_Formula_Step] FOREIGN KEY([stepId])
REFERENCES [dbo].[Step] ([stepId])
GO
ALTER TABLE [dbo].[Formula] CHECK CONSTRAINT [FK_Formula_Step]
GO
/****** Object:  ForeignKey [FK_Cylinder_Log_Cylinder]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Cylinder_Log]  WITH CHECK ADD  CONSTRAINT [FK_Cylinder_Log_Cylinder] FOREIGN KEY([cylinderId])
REFERENCES [dbo].[Cylinder] ([cylinderId])
GO
ALTER TABLE [dbo].[Cylinder_Log] CHECK CONSTRAINT [FK_Cylinder_Log_Cylinder]
GO
/****** Object:  ForeignKey [FK_Cylinder_Log_Employee]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Cylinder_Log]  WITH CHECK ADD  CONSTRAINT [FK_Cylinder_Log_Employee] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[Cylinder_Log] CHECK CONSTRAINT [FK_Cylinder_Log_Employee]
GO
/****** Object:  ForeignKey [FK_Cylinder_Log_Step]    Script Date: 01/20/2012 10:38:40 ******/
ALTER TABLE [dbo].[Cylinder_Log]  WITH CHECK ADD  CONSTRAINT [FK_Cylinder_Log_Step] FOREIGN KEY([stepId])
REFERENCES [dbo].[Step] ([stepId])
GO
ALTER TABLE [dbo].[Cylinder_Log] CHECK CONSTRAINT [FK_Cylinder_Log_Step]
GO
