<configuration>
  <connectionStrings>
    <!--  <add name="BankDBEntities" connectionString="metadata=res://*/BankDB.csdl|res://*/BankDB.ssdl|res://*/BankDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=BankDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="WebService.Workflow" behaviorConfiguration="WorkflowServiceBehaviour">

        <endpoint name="Workflow" address="" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="WebService.IWorkflow"/>
        <endpoint name="WorkflowsMex" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

     
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WorkflowServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true"/>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp">
          <security mode="None">
         
          </security>

        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
